---
layout: single
title: "Teaching"
permalink: /teaching/
author_profile: true
---

## Teaching Experience

**Teaching Assistant**  
*Missouri University of Science and Technology* — Rolla, MO · *Present*  
- Control Systems Lab & Electronic Devices Lab

**Graduate Teaching Assistant**  
*K. N. Toosi University of Technology* — Tehran · *2022–2023*  
- Game Theory (Grad) & Linear System Control (Undergrad)

**PLC & HMI Instructor**  
*Various Universities and Industries* — Tehran / Virtual · *2021–2023*  
- Taught at University of Tehran, Iran University of Science and Technology, University of Isfahan


-->
---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
--> 

